Census API Query

Change variables above 'base_url' to alter data queried

The 'cols' is the variable(s) you want to receive

For examples of variables check the census variables website linked.

In [65]:

vari_structured = {
    'Total Population' : "B01003_001E",
    'Population - Race': {
        "White Population" : "B02001_002E",
        "Black Population" : 'B02001_003E',
        "Hispanic or Latino": "B03003_003E",
        #"Arab Population": 'B04004_006E',
        "American Indiana & Alaska Native": 'B02001_004E',
        "Asian Population" : 'B02001_005E',
        "Hawaiian & Pacific Islander": "B02001_006E"
    },
    'Population - Sex': {
        'Male Population' : 'B01001_002E',
        "Female Population" : 'B01001_026E'
    },
    'Population - Age' : {
        'Male': {
            '0-5':'B01001_003E',
            '5-9':'B01001_004E',
            '10-14':'B01001_005E',
            '15-17':'B01001_006E',
            '18-19':'B01001_007E',
            '20':'B01001_008E',
            '21':'B01001_009E',
            '22-24':'B01001_010E',
            '25-29':'B01001_011E',
            '30-34':'B01001_012E',
            '35-39':'B01001_013E',
            '40-44':'B01001_014E',
            '45-49':'B01001_015E',
            '50-54':'B01001_016E',
            '55-59':'B01001_017E',
            '60-61':'B01001_018E',
            '62-64':'B01001_019E',
            '65-66':'B01001_020E',
            '67-69':'B01001_021E',
            '70-74':'B01001_022E',
            '75-79':'B01001_023E',
            '80-84':'B01001_024E',
            '85+': 'B01001_025E'

        },
        'Female': {
            '0-5':'B01001_027E',
            '5-9':'B01001_028E',
            '10-14':'B01001_029E',
            '15-17':'B01001_030E',
            '18-19':'B01001_031E',
            '20':'B01001_032E',
            '21':'B01001_033E',
            '22-24':'B01001_034E',
            '25-29':'B01001_035E',
            '30-34':'B01001_036E',
            '35-39':'B01001_037E',
            '40-44':'B01001_038E',
            '45-49':'B01001_039E',
            '50-54':'B01001_040E',
            '55-59':'B01001_041E',
            '60-61':'B01001_042E',
            '62-64':'B01001_043E',
            '65-66':'B01001_044E',
            '67-69':'B01001_045E',
            '70-74':'B01001_046E',
            '75-79':'B01001_047E',
            '80-84':'B01001_048E',
            '85+':'B01001_049E',
        }
    }
}

In [67]:
vari_structured

#[variables[i] for i in variables.keys()]

#[i for i in variables['Population - Sex'].items()]
#[i for i in variables['Population - Race'].items()]
#[i for i in variables['Population - Age'].items()][0][1].items()
#

{'Total Population': 'B01003_001E',
 'Population - Race': {'White Population': 'B02001_002E',
  'Black Population': 'B02001_003E',
  'Hispanic or Latino': 'B03003_003E',
  'American Indiana & Alaska Native': 'B02001_004E',
  'Asian Population': 'B02001_005E',
  'Hawaiian & Pacific Islander': 'B02001_006E'},
 'Population - Sex': {'Male Population': 'B01001_002E',
  'Female Population': 'B01001_026E'},
 'Population - Age': {'Male': {'0-5': 'B01001_003E',
   '5-9': 'B01001_004E',
   '10-14': 'B01001_005E',
   '15-17': 'B01001_006E',
   '18-19': 'B01001_007E',
   '20': 'B01001_008E',
   '21': 'B01001_009E',
   '22-24': 'B01001_010E',
   '25-29': 'B01001_011E',
   '30-34': 'B01001_012E',
   '35-39': 'B01001_013E',
   '40-44': 'B01001_014E',
   '45-49': 'B01001_015E',
   '50-54': 'B01001_016E',
   '55-59': 'B01001_017E',
   '60-61': 'B01001_018E',
   '62-64': 'B01001_019E',
   '65-66': 'B01001_020E',
   '67-69': 'B01001_021E',
   '70-74': 'B01001_022E',
   '75-79': 'B01001_023E',
   '80-84': 'B01001_024E',
   '85+': 'B01001_025E'},
  'Female': {'0-5': 'B01001_027E',
   '5-9': 'B01001_028E',
   '10-14': 'B01001_029E',
   '15-17': 'B01001_030E',
   '18-19': 'B01001_031E',
   '20': 'B01001_032E',
   '21': 'B01001_033E',
   '22-24': 'B01001_034E',
   '25-29': 'B01001_035E',
   '30-34': 'B01001_036E',
   '35-39': 'B01001_037E',
   '40-44': 'B01001_038E',
   '45-49': 'B01001_039E',
   '50-54': 'B01001_040E',
   '55-59': 'B01001_041E',
   '60-61': 'B01001_042E',
   '62-64': 'B01001_043E',
   '65-66': 'B01001_044E',
   '67-69': 'B01001_045E',
   '70-74': 'B01001_046E',
   '75-79': 'B01001_047E',
   '80-84': 'B01001_048E',
   '85+': 'B01001_049E'}}}

In [94]:
var_dict = {
    'Total Population' : "B01003_001E",
    "White Population" : "B02001_002E",
    "Black Population" : 'B02001_003E',
    "Hispanic or Latino": "B03003_003E",
    #"Arab Population": 'B04004_006E',
    "American Indiana & Alaska Native": 'B02001_004E',
    "Asian Population" : 'B02001_005E',
    "Hawaiian & Pacific Islander": "B02001_006E",

    'Male Population' : 'B01001_002E',
    "Female Population" : 'B01001_026E',

    'Male Pop 0-5':'B01001_003E',
    'Male Pop 5-9':'B01001_004E',
    'Male Pop 10-14':'B01001_005E',
    'Male Pop 15-17':'B01001_006E',
    'Male Pop 18-19':'B01001_007E',
    'Male Pop 20':'B01001_008E',
    'Male Pop 21':'B01001_009E',
    'Male Pop 22-24':'B01001_010E',
    'Male Pop 25-29':'B01001_011E',
    'Male Pop 30-34':'B01001_012E',
    'Male Pop 35-39':'B01001_013E',
    'Male Pop 40-44':'B01001_014E',
    'Male Pop 45-49':'B01001_015E',
    'Male Pop 50-54':'B01001_016E',
    'Male Pop 55-59':'B01001_017E',
    'Male Pop 60-61':'B01001_018E',
    'Male Pop 62-64':'B01001_019E',
    'Male Pop 65-66':'B01001_020E',
    'Male Pop 67-69':'B01001_021E',
    'Male Pop 70-74':'B01001_022E',
    'Male Pop 75-79':'B01001_023E',
    'Male Pop 80-84':'B01001_024E',
    'Male Pop 85+': 'B01001_025E',

    'Female Pop 0-5':'B01001_027E',
    'Female Pop 5-9':'B01001_028E',
    'Female Pop 10-14':'B01001_029E',
    'Female Pop 15-17':'B01001_030E',
    'Female Pop 18-19':'B01001_031E',
    'Female Pop 20':'B01001_032E',
    'Female Pop 21':'B01001_033E',
    'Female Pop 22-24':'B01001_034E',
    'Female Pop 25-29':'B01001_035E',
    'Female Pop 30-34':'B01001_036E',
    'Female Pop 35-39':'B01001_037E',
    'Female Pop 40-44':'B01001_038E',
    'Female Pop 45-49':'B01001_039E',
    'Female Pop 50-54':'B01001_040E',
    'Female Pop 55-59':'B01001_041E',
    'Female Pop 60-61':'B01001_042E',
    'Female Pop 62-64':'B01001_043E',
    'Female Pop 65-66':'B01001_044E',
    'Female Pop 67-69':'B01001_045E',
    'Female Pop 70-74':'B01001_046E',
    'Female Pop 75-79':'B01001_047E',
    'Female Pop 80-84':'B01001_048E',
    'Female Pop 85+':'B01001_049E',
}

In [134]:
# variables = [(i,j) for (i,j) in var_dict.items()]

variable_codes = list(var_dict.values())

dyear = '2018'
dsource = 'acs' 
dname = 'acs5'
cols = 'B01003_001E,B02001_002E,B02001_003E,B03003_003E,B02001_004E,B02001_005E,B02001_006E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B01001_014E,B01001_015E,B01001_016E,B01001_017E,B01001_018E,B01001_019E,B01001_020E,B01001_021E,B01001_022E,B01001_023E,B01001_024E,B01001_025E,B01001_027E,B01001_028E,B01001_029E,B01001_030E,B01001_031E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,B01001_036E,B01001_037E,B01001_038E,B01001_039E,B01001_039E,B01001_040E,B01001_041E,B01001_042E,B01001_043E'
state_name = '55'
county_name = '*'

base_url = f'https://api.census.gov/data/{dyear}/{dsource}/{dname}/'

data_url = f'{base_url}?get={cols}&for=county:{county_name}&in=state:{state_name}'

response = requests.get(data_url)

pd.DataFrame(columns=response.json()[0], data=response.json()[1:])
# import requests
# import pandas as pd
# #get_data('2018','acs','acs5',variable_codes,'55','*')
#response.json()

,B01003_001E,B02001_002E,B02001_003E,B03003_003E,B02001_004E,B02001_005E,B02001_006E,B01001_002E,B01001_026E,B01001_003E,...,B01001_037E,B01001_038E,B01001_039E,B01001_039E,B01001_040E,B01001_041E,B01001_042E,B01001_043E,state,county
0,44498,41816,291,817,107,1204,0,22372,22126,1203,...,1102,1166,1233,1233,1289,1478,520,732,55,033
1,51828,49993,726,831,65,494,12,26920,24908,1428,...,1329,1100,1302,1302,1552,1807,653,876,55,043
2,115205,102818,2129,7168,279,6446,8,57922,57283,3250,...,3393,3298,3653,3653,4243,4400,1727,2316,55,117
3,4579,468,21,258,3914,21,0,2324,2255,206,...,134,124,88,88,148,155,62,80,55,078
4,13167,12774,74,273,28,15,0,6658,6509,343,...,341,389,398,398,504,506,207,293,55,011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,73274,69042,444,2122,406,1517,14,36056,37218,2086,...,1883,2157,2313,2313,2735,3409,836,1425,55,141
68,15712,13193,110,438,1885,68,11,7930,7782,435,...,442,435,444,444,560,694,202,345,55,003
69,4337,4275,13,61,18,0,0,2275,2062,108,...,85,93,124,124,215,214,98,116,55,037
70,84652,79520,727,5924,105,567,37,42343,42309,2272,...,2372,2761,2847,2847,3182,3335,1152,1592,55,055
71,43349,41757,194,818,471,210,14,21842,21507,1113,...,1213,1210,1364,1364,1760,1862,703,909,55,095

In [96]:
variable_codes = list(var_dict.values())

'B01003_001E,B02001_002E,B02001_003E,B03003_003E,B02001_004E,B02001_005E,B02001_006E,B01001_002E,B01001_026E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B01001_014E,B01001_015E,B01001_016E,B01001_017E,B01001_018E,B01001_019E,B01001_020E,B01001_021E,B01001_022E,B01001_023E,B01001_024E,B01001_025E,B01001_027E,B01001_028E,B01001_029E,B01001_030E,B01001_031E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,B01001_036E,B01001_037E,B01001_038E,B01001_039E,B01001_040E,B01001_041E,B01001_042E,B01001_043E,B01001_044E,B01001_045E,B01001_046E,B01001_047E,B01001_048E,B01001_049E,NAME'

## ACS 1

### state > county

In [99]:
import requests
import pandas as pd

# variable list
#https://api.census.gov/data/2018/acs/acs1/variables.html

# example format
#https://api.census.gov/data/2018/acs/acs1?get=B00001_001E&for=county:*&in=state:*&key=YOUR_KEY_GOES_HERE
variable_codes = ['B00001_001E','B00001_001E']

year = '2018'
dsource = 'acs'
dname = 'acs1'
cols = ','.join(variable_codes) + ',NAME'
state = '55'
county = '*'

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/'

data_url = f'{base_url}?get={cols}&for=county:{county}&in=state:{state}'

response = requests.get(data_url)

data = pd.DataFrame(columns=response.json()[0], data=response.json()[1:])
data

   B00001_001E B00001_001E                           NAME state county
0         1600        1600      Ozaukee County, Wisconsin    55    089
1         7500        7500     Waukesha County, Wisconsin    55    133
2         2300        2300         Wood County, Wisconsin    55    141
3         2200        2200      Portage County, Wisconsin    55    097
4         2600        2600      Kenosha County, Wisconsin    55    059
5         4400        4400     Marathon County, Wisconsin    55    073
6         2500        2500    St. Croix County, Wisconsin    55    109
7         4000        4000    Outagamie County, Wisconsin    55    087
8         4400        4400        Brown County, Wisconsin    55    009
9         2300        2300   Washington County, Wisconsin    55    131
10        2800        2800    Manitowoc County, Wisconsin    55    071
11        3400        3400    Winnebago County, Wisconsin    55    139
12        3300        3300         Rock County, Wisconsin    55    105
13        2200        2200   Eau Claire County, Wisconsin    55    035
14        2400        2400    La Crosse County, Wisconsin    55    063
15        2200        2200    Jefferson County, Wisconsin    55    055
16        2900        2900    Sheboygan County, Wisconsin    55    117
17        3200        3200        Dodge County, Wisconsin    55    027
18        2900        2900  Fond du Lac County, Wisconsin    55    039
19       15500       15500    Milwaukee County, Wisconsin    55    079
20        3200        3200       Racine County, Wisconsin    55    101
21        9700        9700         Dane County, Wisconsin    55    025
22        2500        2500     Walworth County, Wisconsin    55    127

In [19]:
pd.DataFrame(response.json(),)

              0                              1      2       3
0   B07013_003E                           NAME  state  county
1         15855      Ozaukee County, Wisconsin     55     089
2         66576     Waukesha County, Wisconsin     55     133
3         20353         Wood County, Wisconsin     55     141
4         18000      Portage County, Wisconsin     55     097
5         50917      Kenosha County, Wisconsin     55     059
6         31093     Marathon County, Wisconsin     55     073
7         13285    St. Croix County, Wisconsin     55     109
8         43192    Outagamie County, Wisconsin     55     087
9         70490        Brown County, Wisconsin     55     009
10        22877   Washington County, Wisconsin     55     131
11        17767    Manitowoc County, Wisconsin     55     071
12        48231    Winnebago County, Wisconsin     55     139
13        51622         Rock County, Wisconsin     55     105
14        32352   Eau Claire County, Wisconsin     55     035
15        38757    La Crosse County, Wisconsin     55     063
16        18955    Jefferson County, Wisconsin     55     055
17        27387    Sheboygan County, Wisconsin     55     117
18        23027        Dodge County, Wisconsin     55     027
19        26321  Fond du Lac County, Wisconsin     55     039
20       434175    Milwaukee County, Wisconsin     55     079
21        59610       Racine County, Wisconsin     55     101
22       196338         Dane County, Wisconsin     55     025
23        34158     Walworth County, Wisconsin     55     127

### state > place

In [ ]:
import requests
import pandas as pd

#https://api.census.gov/data/2018/acs/acs1?get=B00001_001E&for=place:*&in=state:*&key=YOUR_KEY_GOES_HERE

year = '2018'
dsource = 'acs'
dname = 'acs1'
cols = 'B00001_001E,NAME'
state = '18'
place = '*'


base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/'

data_url = f'{base_url}?get={cols}&for=place:{place}&in=state:{state}'

response = requests.get(data_url)

data = pd.DataFrame(columns=response.json()[0], data=response.json()[1:])
data

### state > county > subdivision

In [ ]:
import requests
import pandas as pd

#https://api.census.gov/data/2018/acs/acs1?get=B00001_001E&for=county%20subdivision:*&in=state:36&in=county:*&key=YOUR_KEY_GOES_HERE

year = '2018'
dsource = 'acs'
dname = 'acs1'
cols = 'B00001_001E,NAME'
state = '18'
subdivision = '*'
county = '*'

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/'

data_url = f'{base_url}?get={cols}&for=county%20subdivision:{subdivision}&in=state:{state}&in=county:{county}'

response = requests.get(data_url)

data = pd.DataFrame(columns=response.json()[0], data=response.json()[1:])
data

### state > congressional district

In [ ]:
import requests
import pandas as pd

#https://api.census.gov/data/2018/acs/acs1?get=B00001_001E&for=congressional%20district:*&in=state:*&key=YOUR_KEY_GOES_HERE

year = '2018'
dsource = 'acs'
dname = 'acs1'
cols = 'B00001_001E,NAME'
state = '18'
congressional = '*'

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/'

data_url = f'{base_url}?get={cols}&for=congressional%20district:{congressional}&in=state:{state}'

response = requests.get(data_url)

data = pd.DataFrame(columns=response.json()[0], data=response.json()[1:])
data

## ACS 5

### state > county

In [ ]:
import requests
import pandas as pd

#https://api.census.gov/data/2018/acs/acs5/variables.html

#https://api.census.gov/data/2018/acs/acs5?get=B00001_001E&for=county:*&in=state:*&key=YOUR_KEY_GOES_HERE

year = '2018'
dsource = 'acs'
dname = 'acs5'
cols = 'B00001_001E,NAME'
state = '18'
county = '*'

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/'

data_url = f'{base_url}?get={cols}&for=county:{county}&in=state:{state}'

response = requests.get(data_url)

data = pd.DataFrame(columns=response.json()[0], data=response.json()[1:])
data

### state > county > tract

Do not change this

In [ ]:
import requests
import pandas as pd

#https://api.census.gov/data/2018/acs/acs5?get=B00001_001E&for=tract:*&in=state:01&in=county:*&key=YOUR_KEY_GOES_HERE

#B02001_001E
#B01001_001E
#B01003_001E


year = '2018'
dsource = 'acs'
dname = 'acs5'
cols = 'B03003_001E,B02001_002E,B02001_003E,B03001_002E,B03003_003E,B03002_003E,B19013_001E,B25008_001E,B25008_003E,NAME'
state = '55'
county = '079'
tract = '*'

################################
#B01003_001E TOTAL POP
#B03003_001E TOTAL POP 
#B02001_002E WHITE POP
#B02001_003E BLACK POP
#B03001_002E,B03002_002E,B03003_002E NOT HISPANIC POP
#B03002_003E NOT HISPANIC WHITE
#B03003_003E,B03002_012E,B03001_003E TOTAL HISPANIC POP

#B19013_001E Median Income

#B25001_001E Housing Units Total Est
#B25002_001E Occupancy Staus

# These Two are roughly equivalent
#B25003_001E Tenure Total
#B25003_002E Owner Occupied
#B25003_003E Renter Occupied

#B25008_001E Total Population in Occupied Housing Units by Tenure
#B25008_002E Owner Occupied
#B25008_003E Renter Occupied
############


names = [
         'TOTAL POP',
         'WHITE POP',
         'BLACK POP',
         'NOT HISPANIC POP',
         'TOTAL HISPANIC POP',
         'NOT HISPANIC WHITE',
         'MEDIAN INCOME',
         'TOTAL POP IN HOUSING UNITS',
         'RENTER OCCUPIED HOUSING UNITS',
         'NAME',
         'STATE',
         'COUNTY',
         'GEO_TRACT'
        ]

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/'

data_url = f'{base_url}?get={cols}&for=tract:{tract}&in=state:{state}&in=county:{county}'

response = requests.get(data_url)

data = pd.DataFrame(columns=names, data=response.json()[1:])
data.sort_values(by=['GEO_TRACT'])


#data.to_csv('Census Data.csv')

### state > county > tract > block group

In [ ]:
import requests
import pandas as pd

#https://api.census.gov/data/2018/acs/acs5?get=B00001_001E&for=block%20group:*&in=state:01&in=county:025&in=tract:*&key=YOUR_KEY_GOES_HERE


# wild card * not allowed for county? maybe loop over counties

year = '2018'
dsource = 'acs'
dname = 'acs5'
cols = 'B06012_001E,NAME'
state = '55'
county = '079'
tract = '*'
block_group = '*'

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/'

data_url = f'{base_url}?get={cols}&for=block%20group:{block_group}&in=state:{state}&in=county:{county}&in=tract:{tract}'

response = requests.get(data_url)

data = pd.DataFrame(columns=response.json()[0], data=response.json()[1:])

    B06012_001E  ... block group
0          None  ...           1
1          None  ...           3
2          None  ...           2
3          None  ...           3
4          None  ...           2
..          ...  ...         ...
854        None  ...           1
855        None  ...           1
856        None  ...           1
857        None  ...           5
858        None  ...           4

[859 rows x 6 columns]

In [14]:
temp = ['BDDD',"temphbs"]
temp += ['NAME']
variables = temp
variables

['BDDD', 'temphbs', 'NAME']

## SF1

### state > county

In [ ]:
import requests
import pandas as pd

year = '2010'
dsource = 'dec'
dname = 'sf1'
cols = 'P001001,NAME'
state = '18'
county = '*'


base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/'

data_url = f'{base_url}?get={cols}&for=county:{county}&in=state:{state}'

response = requests.get(data_url)

data = pd.DataFrame(columns=response.json()[0], data=response.json()[1:])

   P001001                         NAME state county
0    39364     Harrison County, Indiana    18    061
1    33478       Jasper County, Indiana    18    073
2    70002      Hancock County, Indiana    18    059
3   145448    Hendricks County, Indiana    18    063
4    49462        Henry County, Indiana    18    065
..     ...                          ...   ...    ...
87   16212   Vermillion County, Indiana    18    165
88  107848         Vigo County, Indiana    18    167
89   15936       Tipton County, Indiana    18    159
90    7516        Union County, Indiana    18    161
91  179703  Vanderburgh County, Indiana    18    163

[92 rows x 4 columns]

### state > county > tract

In [ ]:
#https://api.census.gov/data/2000/dec/sf1?get=P001001,NAME&for=tract:*&in=state:01&key=YOUR_KEY_GOES_HERE


year = '2010'
dsource = 'dec'
dname = 'sf1'
cols = 'P001001,NAME'
state = '18'
tract = '*'

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/'


data_url = f'{base_url}?get={cols}&for=tract:{tract}&in=state:{state}'
response = requests.get(data_url)
#print(data_url)
#print(response.text)

data = pd.DataFrame(columns=response.json()[0], data=response.json()[1:])
data

### state > county > tract > block

In [ ]:
'https://api.census.gov/data/2000/dec/sf1?get=P001001,NAME&for=block:*&in=state:04%20county:005&key=YOUR_KEY_GOES_HERE'

year = '2010'
dsource = 'dec'
dname = 'sf1'
cols = 'P001001,NAME'
state = '18'
county = '*'
tract = '*'
block = '*'

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/'

data_url = f'{base_url}?get={cols}&for=block:{block}&in=state:{state}%20county:{county}'
response = requests.get(data_url)
#print(data_url)
#print(response.text)

data = pd.DataFrame(columns=response.json()[0], data=response.json()[1:])
data

### state > county > tract > block group

In [ ]:
#	https://api.census.gov/data/2000/dec/sf1?get=P001001,NAME&for=block%20group:*&in=state:17%20county:097&key=YOUR_KEY_GOES_HERE

year = '2010'
dsource = 'dec'
dname = 'sf1'
cols = 'P001001,NAME'
state = '18'
county = '*'
tract = '*'
block = '*'
group = '*'

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}/'

data_url = f'{base_url}?get={cols}&for=block%20group:{group}&in=state:{state}%20county:{county}'
response = requests.get(data_url)


#print(data_url)
#print(response.text)

data = pd.DataFrame(columns=response.json()[0], data=response.json()[1:])